.view-container {
  width:70%;
}

.view-container button {
  margin: 50px 0px;
  float: right;
}

.experimento-container {
  text-align: center;
}
.experimento-container { margin-top: 13vw; }
.experimento-container .experimento-preparate { font-size: 2vw; }
.experimento-container .experimento-secuencia { font-size: 3vw; letter-spacing: 1vw; }
.experimento-container .experimento-pregunta { font-size: 2vw; }

@media (max-width: 900px) {
  .experimento-container { margin-top: 18vw; }
  .experimento-container .experimento-preparate { font-size: 3vw; }
  .experimento-container .experimento-secuencia { font-size: 5vw; letter-spacing: 1vw; }
  .experimento-container .experimento-pregunta { font-size: 3vw; }
}
@media (max-width: 400px) {
  .experimento-container { margin-top: 30vw; }
  .experimento-container .experimento-preparate { font-size: 5vw; }
  .experimento-container .experimento-secuencia { font-size: 7vw; letter-spacing: 1vw; }
  .experimento-container .experimento-pregunta { font-size: 5vw; }
}