.view-container {
  width:70%;
  font-size: 16px;
}

.secuencia {
  font-size: 21px;
}

/*.view-container p {
}

.view-container .secuencia {
  font-size: 26px;
}

.view-container li {
  font-size: 16px;
}*/

.introduccion-container button {
  margin: 50px 0px;
  float: right;
}

.explicacion-container button {
  margin: 50px 0px;
  float: right;
}

.experimento-container {
  text-align: center;
}
.experimento-container { margin-top: 13vw; }
.experimento-container .experimento-preparate { font-size: 2vw; }
.experimento-container .experimento-secuencia { font-size: 3vw; letter-spacing: 1vw; }
.experimento-container .experimento-letra { font-size: 4vw; }
.experimento-container .experimento-pregunta { font-size: 2vw; }

@media (max-width: 900px) {
  .experimento-container { margin-top: 18vw; }
  .experimento-container .experimento-preparate { font-size: 5vw; }
  .experimento-container .experimento-secuencia { font-size: 8vw; letter-spacing: 1vw; }
  .experimento-container .experimento-letra { font-size: 6vw; }
  .experimento-container .experimento-pregunta { font-size: 5vw; }
}
@media (max-width: 400px) {
  .experimento-container { margin-top: 30vw; }
  .experimento-container .experimento-preparate { font-size: 7vw; }
  .experimento-container .experimento-secuencia { font-size: 8vw; letter-spacing: 1vw; }
  .experimento-container .experimento-letra { font-size: 8vw; }
  .experimento-container .experimento-pregunta { font-size: 7vw; }
}