<div class="exper-intro-container">
  <div class="page-header">
    <h1>Segunda parte: procedimiento</h1>
  </div>
  <ul class="instrucciones">
    <li>En esta segunda instancia, el procedimiento se mantiene igual que en la primera parte, variando únicamente los tiempos de exposición y respuesta.</li>
    <li>La secuencia será presentada por un total de {{t_expo / 1000 | number:0}} segundos, y luego usted dispondrá de {{t_resp / 1000 | number:0}} segundos para responder.</li>
  </ul>
  
  <button ng-click="avanzar()" class="btn btn-lg btn-default">Comenzar</button>
</div>