<div class="container-fluid explicacion-container">

  <div class="page-header">
    <h1>Tercera parte</h1>
  </div>

  <ul class="instrucciones">
    <li>En esta tercera instancia, el procedimiento será diferente. </li>
    <li>La secuencia será presentada por un total de {{t_expo / 1000 | number:0}} segundos, y luego, antes de dar la respuesta deberá realizar una tarea descripta a continuación.</li>
  </ul>
  
  <h2>Tarea</h2>
  <ul class="instrucciones">
  	<li>Diferentes letras irán apareciendo en pantalla, de a una por vez.</li>
  	<li>Usted deberá responder en cada letra, por <b>sí (tecla s)</b> o por <b>no (tecla n)</b>, si ésta es equivalente a la que apareció {{n_tarea}} muestras atrás</li>
  </ul>

  <ul class="instrucciones">
	 <li>una vez finalizada la tarea usted dispondrá de {{t_resp / 1000 | number:0}} segundos para responder, sobre el apareamiento de símbolos como las dos tareas anteriores.</li>
  </ul>
  
  <button ng-click="avanzar()" class="btn btn-lg btn-default">Comenzar</button>
  
</div>