<div class="container-fluid explicacion-container">
  <div class="page-header">
    <h1>Segunda parte</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Procedimiento</h3>
        </div>
        <div class="panel-body">
          <ul class="instrucciones">
            <li>En esta segunda instancia, el procedimiento será diferente. </li>
            <li>Antes de dar la respuesta deberá realizar una tarea descripta a continuación.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Tarea</h3>
        </div>
        <div class="panel-body">
          <ul class="instrucciones">
            <li>Diferentes letras irán apareciendo en pantalla, de a una por vez.</li>
            <li> En cada una de ellas deberá responder si es equivalente a la que apareció {{n_letras}} muestra atrás apretando uno de los siguientes botones:
              <ul class="list-unstyled" style="margin-left:20px;">
                <li><strong style="color: green;">s</strong> &nbsp;&nbsp;&nbsp; si la letra presentada es equivalente a la que apareció {{n_letras}} muestra atrás.</li>
                <li><strong style="color: red;">n</strong> &nbsp;&nbsp;&nbsp;si la letra presentada <b>NO</b> apareció {{n_letras}} muestra atrás.</li>
              </ul>
            </li>
            <li>Es decir, deberá memorizar la última {{n_letras}} letra aparecida para poder responder correctamente.</li>
            <li>Para confirmar que entendió la consigna, dé la respuesta a cada una de las siguientes letras, suponiendo que aparecen de a una por vez:</li>
            <li><b>A B A A T Z T T</b></li>
          </ul>
        </div>
      </div>
    </div>
      <p>Cuando se encuentre preparado/a, presione 'Comenzar'.</p>
      <button ng-click="avanzar()" class="btn btn-lg btn-default">Comenzar</button>
  </div>
</div>