<div class="container-fluid experimento-container">
  <p class="experimento-preparate" ng-show="preparateVisible">
    Comenzando...
  </p>
  <p class="experimento-secuencia" ng-show="secuenciaVisible">
    {{secuencias[indiceSecuencias]}}
  </p>
  <div class="experimento-pregunta" ng-show="preguntaVisible" tabindex="0" focus-if="preguntaVisible" ng-keydown="registrarRespuesta($event.keyCode)">
      <p>¿Estaba bien formada la cadena previa?</p>
    <button id="si" style="color: green;" ng-click="registrarRespuesta('Si')" class="btn btn-default btn-lg">Si</button>
    <button id="no" style="color: red;" ng-click="registrarRespuesta('No')" class="btn btn-default btn-lg">No</button>
  </div>
</div>
</script>