<div class="container-fluid introduccion-container">

  <div class="page-header">
    <h1>Introducción</h1>
  </div>
  <p class="lead">Bienvenido, usted está por participar de un experimento confeccionado por estudiantes de la materia “Introducción a la neurociencia Cognitiva y Computacional”. La idea del mismo es dilucidar ciertos aspectos del procesamiento cognitivo humano. </p>

  <p class="lead"> Toda la información y datos que surjan de este experimentos serán guardados en nuestra base de datos, respetando las normas bioéticas vigentes al día de la fecha, y respetando la confidencialidad que requiere. <br/>
  Si está de acuerdo, presione 'Continuar'.</p>

  <button ng-click="avanzarDesde('introduccion')" class="btn btn-lg btn-default">Continuar</button>
  
</div>