<div class="intro-container">
  <div class="page-header">
    <h1>Hola</h1>
  </div>
  <p class="lead">Gracias por formar parte de nuestro experimento. Para que los resultados nos permitan extraer conclusiones, es importante que realices la experiencia en un lugar tranquilo, sin demasiadas distracciones. <br/>
  No te preocupes, el experimento es anónimo, y en total te va a tomar menos de 10 minutos. Dale click al botón cuando tengas todo listo, y conocé los siguientes pasos.</p>

  <button ng-click="go('/primera-parte-intro')" class="btn btn-lg btn-default">Empezar</button>
</div>