<div class="intro-container">
  <div class="page-header">
    <h1>Intro</h1>
  </div>
  <p class="lead">Bienvenido, usted está por participar de un experimento confeccionado por estudiantes de la materia “Introducción a la neurociencia Cognitiva y Computacional”. La idea del mismo es dilucidar ciertos aspectos del procesamiento cognitivo humano. </p>

  <p> Toda la información y datos que surjan de este experimentos serán guardados en nuestra base de datos, respetando las normas bioéticas vigentes al día de la fecha, y respetando la confidencialidad que requiere.
  Si está de acuerdo en continuar, presione el botón “Acepto”.</p>

  <button ng-click="go('/primera-parte-intro')" class="btn btn-lg btn-default">Acepto</button>
</div>