<div class="exper-intro-container">
  <div class="page-header">
    <h1>Primera parte: procedimiento</h1>
  </div>
  <ul class="instrucciones">
    <li>Se mostrarán diferentes pantallas sucesivamente, incluyendo cada una de ellas una secuencia formada por paréntesis ( ), llaves { } y corchetes [ ].</li>
    <li>Para cada secuencia, usted deberá determinar si la misma se encuentra bien formada; es decir, si los símbolos están correctamente apareados. Más precisamente, la secuencia está bien formada si para cada símbolo que abre hay uno opuesto que cierra, y lo que queda encerrado entre el par de símbolos apareado también está bien formado.</li>
    <li>Luego de cada estímulo, se le presentará una pantalla donde deberá responder apretando una de las siguientes teclas:
      <ul class="list-unstyled" style="margin-left:20px;">
        <li><strong>s</strong> &nbsp;&nbsp;&nbsp; si la secuencia presentada anteriormente está correctamente apareada.</li>
        <li><strong>n</strong> &nbsp;&nbsp;&nbsp; si la secuencia presentada anteriormente <b>NO</b> está correctamente apareada.</li>
      </ul>
    </li>
    <li>La secuencia será presentada por un total de {{t_expo}} segundos, y luego usted dispondrá de {{t_resp}} segundos para responder.</li>
  </ul>
  
  <div class="row">
    <div class="col-md-6">
      <h3>Ejemplo 1</h3>
      <p><font size=7>( ) ( [ ] )</font></p>
      <p>Este caso está correctamente apareado, ya que todos los términos definidos por los símbolos (denotados por paréntesis en este ejemplo) están correctamente cerrados.</p>
    </div>
    <div class="col-md-6">
      <h3>Ejemplo 2</h3>
      <p><font size=7>{ ( ) } <font color=red>(</font> ( )</font></p>
      <p>Este caso <b>no</b> está correctamente apareado, ya que faltaría cerrar un paréntesis en el segundo término.</p>
    </div>
  </div>

  <button ng-click="go('/primera-parte-exper')" class="btn btn-lg btn-default">Comenzar</button>
</div>